@charset "utf-8";

*{margin: 0;padding: 0;box-sizing: border-box;}

ul, li, ol{list-style: none;}

a{text-decoration: none; color: inherit;}

img{vertical-align: bottom;}

table{border-collapse: collapse;}

body{
    font-family: Arial, "고딕 " , Helvetica, sans-serif;
    font-size: 14px;
}
.clear_fix::before,
.clear_fix::after{
    content: "";
    display: block;
    clear: both;
}